@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main > h1 {
    color: #ffc107;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

.parent {
    display: grid;
    height: 80vw;
    width: 100%;
    grid-template-areas: "header header"
    "main aside"
    "main aside"
    "footer aside";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr, repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
}

.logo {
    margin-top: 1.5rem;
}

.nobull {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    margin: 1.5rem 0;
    
}

.nobull li a {
    text-decoration: none;
    padding: 0 30px;
}

.burger {
    width: 60px;
    height: 60px;
    margin-top: 1.5rem;
    background-color: green;
}

.line1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}



nav {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: orange;
    grid-area: header;
}

main {
    background-color: red;
    grid-area: main;
}

aside {
    background-color: dodgerblue;
    grid-area: aside;
}

footer {
    background-color: purple;
    grid-area: footer;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }

    h1 {
        color: blue;
    }

}