.parent {
    display: grid;
    width: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header {
    background-color: orange;
}

main {
    background-color: yellow;
}

aside {
    background-color: dodgerblue;
}

footer {
    background-color: orange;
}